{% extends "base.html" %}
{% set active_page = "auth/register" %}

{% block title%}
    Registréieren
{% endblock %}

{% block content %}
<section class="p-5">
    <div class="container">
        <form method="POST" action="{{ url_for('auth.register') }}" class="row needs-validation justify-content-center" novalidate>
            <div class="col-md-5">
                <div class="row my-3 justify-content-center">
                    <div class="col-md-12 p-0">
                        <h3 class="txt-scoutGreen">Registréieren</h3>
                    </div>
                </div>
                <div class="row my-3 p-3 border bg-light">
                    <!-- Virnumm -->
                    <div class="col-md-6 mb-3">
                        <label for="first_name" class="form-label">Virnumm</label>
                        <input type="text" class="form-control" name="first_name" id="first_name" required>
                    </div>
                    <!-- Numm -->
                    <div class="col-md-6 mb-3">
                        <label for="last_name" class="form-label">Numm</label>
                        <input type="text" class="form-control" name="last_name" id="last_name" required>
                    </div>

                    <!-- Usernumm -->
                    <div class="col-md-6 mb-3">
                        <label for="username" class="form-label">Usernumm</label>
                        <div class="input-group has-validation">
                            <span class="input-group-text" id="inputGroupPrepend">@</span>
                            <input type="text" class="form-control" name="username" id="username" required>
                        </div>
                    </div>

                    <!-- Passwuert -->
                    <div class="col-md-6 mb-3">
                        <label for="password" class="form-label">Passwuert</label>
                        <input type="password" class="form-control" name="password" id="password" required>
                    </div>

                    <!-- Ghost column -->
                    <div class="col-md-6 mb-3"></div>

                    <!-- Passwuert bestätegen -->
                    <div class="col-md-6">
                        <label for="password_confirm" class="form-label">Passwuert bestätegen</label>
                        <input type="password" class="form-control" name="password_confirm" id="password_confirm" required>
                    </div>
                </div>

                <div class="row my-3">
                    <!-- Gebuertsdatum -->
                    <div class="col-md-5 mb-3">
                        <label for="birthday" class="form-label">Gebuertsdatum</label>
                        <input class="form-control" type="date" name="birthday" id="birthday" required>
                    </div>

                    <!-- Geschlecht -->
                    <div class="col-md-7 mb-3">
                        <label class="form-label">Geschlecht</label>
                        <br>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="genderFemale" value="weiblech" checked>
                            <label class="form-check-label" for="genderFemale">weiblech</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="genderMale" value="männlech">
                            <label class="form-check-label" for="genderMale">männlech</label>
                          </div>
                    </div>

                    <!-- Hausnummer -->
                    <div class="col-md-2 mb-3">
                        <label for="house_number" class="form-label">Nr.</label>
                        <input type="text" class="form-control" name="house_number" id="house_number" required>
                    </div>

                    <!-- Strooss -->
                    <div class="col-md-5 mb-3">
                        <label for="street" class="form-label">Strooss</label>
                        <input type="text" class="form-control" name="street" id="street" required>
                    </div>

                    <!-- Uertschaft -->
                    <div class="col-md-5 mb-3">
                        <label for="town" class="form-label">Uertschaft</label>
                        <input type="text" class="form-control" name="town" id="town" required>
                    </div>

                    <!-- Land -->
                    <div class="col-md-8 mb-3">
                        <label for="country" class="form-label">Land</label>
                        <select class="form-select bfh-countries" data-available="LU,DE,BE,FR" data-country="LU" id="country" name="country"></select>
                    </div>

                    <!-- Postleitzuel -->
                    <div class="col-md-4 mb-3">
                        <label for="zip" class="form-label">Postleitzuel</label>
                        <input type="number" class="form-control" id="zip" name="zip" required>
                    </div>

                    <!-- Konditiounen -->
                    <div class="border border-danger bg-light p-2 mb-3">
                    <div class="col-md-4 p-0">
                        <h5 style="font-weight: bold;">Konditiounen</h5>
                        <ol>
                            <li>test</li>
                            <li></li>
                        </ol>
                    </div>
                      
                    <!-- Checkbox Konditiounen -->
                    <div class="col-md-12 mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="ok" name="conditions" id="conditions" required>
                            <label class="form-check-label" for="conditions">
                            Ech stëmmen de Konditiounen zou.
                            </label>
                            <div class="invalid-feedback">
                            Dir musst de Konditiounen zoustëmmen.
                            </div>
                        </div>
                    </div>
                </div>

                    <!-- Button -->
                    <div class="col-md-12">
                        <button class="btn bg-scoutYellow" type="submit">Registréieren</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields, https://getbootstrap.com/docs/5.0/forms/validation/
    (function () {
      'use strict'
    
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.querySelectorAll('.needs-validation')
    
      // Loop over them and prevent submission
      Array.prototype.slice.call(forms)
        .forEach(function (form) {
          form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }
    
            form.classList.add('was-validated')
          }, false)
        })
    })()

    // Initialize tooltips
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>

<script>
    $('.countrypicker').countrypicker();
</script>
{% endblock %}