{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
<!-- Ghost element -->

<!-- Top section -->
<section class="bg-light">
    <div class="container py-5">
        <!-- Row -->
        <div class="row">

            <div class="col-md-4 text-center">
                <img src="static/images/lgs.png" width="250px" height="250px">
            </div>

            <div class="col-md-8 ps-5 d-flex flex-column justify-content-center align-items-center">
                <h1 class="txt-scoutGreen">Lëtzebuerger Guiden a Scouten</h1>
                <h2 class="txt-scoutYellow">Sainte-Marie Kayl</h2>
            </div>
        </div>
    </div>
</section>

<!-- Middle section -->
<section>
    <div class="container py-5">
        <!-- Row -->
        <div class="row d-flex justify-content-center">

            {% for branch in branches %}
                <div class="col-md-2">
                    <div class="card border-0">
                        <a class="black-link d-flex justify-content-center" href="/apply">
                            <div class="card-body text-center">
                                <img class="card-img-top rounded-circle mb-3 card-img" src="{{ branches[branch]['img'] }}">
                                <h5 class="card-title">{{ branches[branch]['text'] }}</h5>
                                <p class="card-text"> {{ branches[branch]['age'] }}</p>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}