{% extends "base.html" %}
{% set active_page = "/apply" %}

{% block title %}
    Umellen
{% endblock %}

{% block content %}
<!-- Info section -->
<section class="pt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 p-0 m-0 border border-danger rounded bg-light">
                <ul>
                    <li>Wëllefcher musse <strong>virum</strong> 15. September 2017 gebuer sin.</li>
                    <li>test</li>
                    <li>test</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section>
    <form method="POST" action="{{ url_for('index.apply') }}" class="text-center" novalidate>
    {{ form.csrf_token }}
        <div class="container">
            
            <div class="row justify-content-center mt-5">
                <div class="col-md-6 text-start">
                        <h1 class="txt-scoutGreen">Coordonnéeën</h1>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-6 bg-light rounded">
                <div class="row mb-2">
                    <div class="col-md-4">
                        <!-- First name -->
                        {{ form.first_name.label(class_="form-label") }}
                        {{ form.first_name(class_="form-control") }}
                        
                        {% if form.first_name.errors %}
                        <ul class="errors">
                            {% for error in form.first_name.errors %}
                            <li class="txt-scoutGreen">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    <div class="col-md-4">
                        <!-- Last name -->
                        {{ form.last_name.label(class_="form-label") }}
                        {{ form.last_name(class_="form-control") }}

                        {% if form.last_name.errors %}
                            <ul class="errors">
                                {% for error in form.last_name.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    <div class="col-md-4">
                        <!-- Birthday -->
                        {{ form.birthday.label(class_="form-label") }}
                        {{ form.birthday(class_="form-control") }}
    
                        {% if form.birthday.errors %}
                        <ul class="errors">
                            {% for error in form.birthday.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                
                <div class="row mb-2">
                    <div class="col-md-4">
                        <!-- Gender -->
                        {{ form.gender.label(class_="form-label") }}
                        {{ form.gender(style="list-style:none", class_="form-control") }}
                    </div>

                    <div class="col-md-4">
                        <!-- Number -->
                        {{ form.number.label(class_="form-label") }}
                        {{ form.number(class_="form-control") }}
    
                        {% if form.number.errors %}
                        <ul class="errors">
                            {% for error in form.number.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    <div class="col-md-4">
                        <!-- Branch -->
                        {{ form.branch.label(class_="form-label") }}
                        {{ form.branch(class_="form-select") }}
                    </div>
                </div>
                
                <div class="row mb-2">
                    <div class="col-md-6">
                        {{ form.email.label(class_="form-label") }}
                        {{ form.email(class_="form-control") }}
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-md-12 mb-2">
                        <!-- Allergies -->
                        {{ form.allergies.label(class_="form-label") }}
                        {{ form.allergies(class_="form-control") }}
                    </div>

                    <div class="col-md-12 mb-2">
                        <!-- Diet -->
                        {{ form.diet.label(class_="form-label") }}
                        {{ form.diet(class_="form-control") }}
                    </div>

                    <!-- Other Information -->
                    <div class="col-md-12">
                        {{ form.other_information.label(class_="form-label") }}
                        {{ form.other_information(class_="form-control") }}
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-md-6 text-start">
                        <h1 class="txt-scoutGreen">Tuteur 1</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        {{ form.first_name_p1.label(class_="form-label") }}
                        {{ form.first_name_p1(class_="form-control") }}
                    </div>
                    <div class="col-md-12 my-3">
                        <input type="submit" value="Umellen" class="btn bg-scoutYellow">
                    </div>
                </div>

                </div>
            </div>
                      </div>
                </div>
            </div>
        </div>
    </form>
</section>







    



    <!-- Parent 1 -->
    <!-- Email -->


    <p>
        <input type="submit" value="Umellen" class="btn bg-scoutYellow">
    </p>
</form>

{% endblock %}